<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />

    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('landing')}}">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('history')}}">History</a>
            <a class="nav-link" href="{{ url_for('roll')}}">Roll</a>
          </li>
        </ul>
      </div>
    </nav>

    <coffee class="drink"
      >As brewed affogato wings breve to go, dark et beans espresso instant.
      Sugar, dripper grounds, variety mocha percolator extra cinnamon. Carajillo
      mazagran id caffeine macchiato, wings, iced percolator aged fair trade
      cream. Percolator rich barista to go extra latte fair trade. Grounds shop
      to go decaffeinated skinny organic brewed viennese macchiato. That ut,
      single origin grounds doppio organic rich. Ut dark steamed ut
      decaffeinated steamed body. Coffee turkish robusta aroma chicory blue
      mountain acerbic whipped. Trifecta acerbic, milk grinder, a, sit, iced
      coffee at medium brewed. Cultivar shop skinny pumpkin spice, arabica fair
      trade grounds, at breve rich cup plunger pot.</coffee
    >

    <tea class="drink"> Sip sip </tea>

    <main class="container">{% block main %} {% endblock %}</main>
  </body>
</html>
