{% extends 'base.html' %} {% block title %} History! {% endblock %} {% block
main %} {% with messages = get_flashed_messages() %} {% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}
{% for row in sql_data %}
  <li>{{ row }}</li>
{% endfor %}

{% endblock %}
