{% extends 'base.html' %} {% block title %} Landing! {% endblock %} {% block
main %} <img id="coffee-thing" src="{{ url_for('static',
filename='/images/coffee.jpg') }}""/>
<p>
  Spicy jalapeno bacon ipsum dolor amet pork spare ribs picanha, chuck filet
  mignon jerky cupim corned beef t-bone. Alcatra sausage tail meatball sirloin
  pork belly tongue chicken ground round hamburger drumstick strip steak chislic
  ham hock frankfurter. Meatball venison pork pastrami brisket shoulder sausage
  picanha. Shoulder sausage pork belly fatback cow chicken bacon doner pig
  frankfurter pastrami tenderloin porchetta burgdoggen. Pork loin fatback
  brisket kielbasa. Landjaeger flank drumstick, doner turducken kevin ground
  round sausage ham hock burgdoggen. Swine salami ribeye, beef jerky pork loin
  frankfurter tongue alcatra ham hock ham. Rump burgdoggen prosciutto shoulder
  short loin alcatra ball tip tail kevin, pork loin bacon pig doner boudin.
  Shoulder landjaeger corned beef frankfurter bacon burgdoggen ham beef.
  Andouille alcatra shank drumstick doner salami turkey bresaola filet mignon
  frankfurter chicken. Swine salami ham hock cow pork beef. Beef tongue picanha,
  pork belly alcatra cupim biltong tenderloin hamburger drumstick. Tongue swine
  rump pork loin meatloaf doner. Picanha jerky sirloin meatball ribeye ball tip.
  Ground round biltong rump t-bone tail ham. Chicken corned beef t-bone boudin
  jerky shankle landjaeger ball tip fatback ham bacon prosciutto drumstick.
  Fatback corned beef venison ribeye kielbasa pork chop. Beef ribs andouille
  tenderloin beef tongue bresaola jerky frankfurter shankle chuck drumstick.
  Porchetta tongue ribeye leberkas filet mignon chislic turkey brisket doner
  frankfurter. Pork chop boudin swine capicola hamburger shoulder pork sausage
  short loin bresaola cow turkey andouille. Pig meatball sirloin prosciutto
  strip steak boudin rump. Swine beef ribs meatloaf strip steak burgdoggen pork
  pastrami t-bone biltong tail brisket meatball. Sausage short ribs brisket
  andouille turducken leberkas burgdoggen. Spare ribs landjaeger pork loin,
  boudin ham hock pancetta burgdoggen picanha kevin pastrami hamburger.
  Tenderloin shankle shoulder rump boudin chuck meatloaf ground round. Pastrami
  buffalo tongue tail venison tenderloin strip steak tri-tip pork belly chuck
  frankfurter. Spare ribs ball tip tenderloin, chislic turducken biltong shank
  shoulder jowl t-bone drumstick tri-tip.
</p>
{# This is some nonesense #} {{5+5}} {{x}} {% for kid in cool_kids %}
<h3>Reasons {{kid}} is cool:</h3>
<ul>
  <li>Humans melt at 162 degrees</li>
  <li>{{kid}} is alive</li>
  <li id="conclusion">Therefore, {{kid}} is cool. QED.</li>
</ul>
<br />
{% endfor %} {% endblock %}
