{% extends "base.html" %} {% block title %} Roller! {% endblock %} {% block main
%}

<p align="center">Roll!</p>
<form class="form1" action="{{url_for('roll')}}" method="POST" novalidate>

  <label for="username">Username:</label>
  <input id="username" class="uname" type="text" align="center" placeholder="Username" name="username" required>
  <label for="max-roll">Sides of Die:</label>
  <input id="max-roll" class="max-roll" type="text" align="center" placeholder="6" name="max-roll" required>
  <label for="number-of-rolls">Number of rolls:</label>
  <input id="number-of-rolls" class="number-of-rolls" type="text" align="center" placeholder="1" name="number-of-rolls" required>
  <input id="roll-submit" class="btn btn-primary" type="submit" />
</div>

{% endblock %}