{% extends 'base.html' %} {% block title %} I am actually not base {% endblock
%} {% block content %} {% for kid in cool_kids %}
<h3>Reasons {{kid}} is cool:</h3>
<ul>
  <li>Humans melt at 162 degrees</li>
  <li class="argument">{{kid}} is alive</li>
  <li id="conclusion" class="argument less-cool upper-class special web-cam">Therefore, {{kid}} is cool. QED.</li>
</ul>
<br />
{% endfor %}

<img id="coffe"

<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button id="special-submit" type="submit" class="btn btn-danger">Submit</button>
</form>

{% endblock %}
