html {
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

p {
  color: white;
}

importanttext,
b {
  color: purple;
}

li {
  margin-top: 5 px;
  padding-top: 15px;
}

.argument {
  color: green;
}

.less-cool {
  margin-bottom: 5px;
}

#conclusion {
  color: wheat;
}
