html {
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

p {
  color: white;
}

coffee,
tea {
  color: blue;
}

tea {
  display: block;
}

#conclusion {
  color: darkblue;
}

#coffee-thing {
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  margin-top: 50%;
  margin-bottom: 50px;
}

.drink {
  text-decoration: underline;
}

.nav-link {
  padding-top: 11px;
}


/* Roll Page */

form {
  width: 80%;
  margin: 0 auto;
}

label,
input {

  display: inline-block;
}

label {
  width: 30%;

  text-align: right;
}

label+input {
  width: 30%;
  margin: 0 30% 0 4%;
}

#roll-submit {
  float: right;
}